*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    
}
html, body{
    /* border: 2px solid blue;  */
    width: 100%;
    height: 100%; 
    
    
} 
body{
   
    /* border: 2px solid black;  */
 
    
    background-image: linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8)),url(background_img.jpg);
    background-size:cover;
    
}

/************heading**************/

.heading{
    /* border: 2px solid rgb(38, 255, 0); */
    /* background-color: #3c00a0;  */
    max-width: 90%;
    height: 70%;
    /* margin: auto; */
    
    /* padding-top:100px; */
    /* margin-top: 50%; */
    position: relative;
    
    top: 50%;
    left: 50%; 
    transform: translate(-50% , -50%);
    display: flex;
    /* justify-content: space-evenly; */
    /* -ms-transform: translate(-50%, -50%); */
    align-items:center;
    justify-content:space-between;
    
   
    
    
    
   
}
.right{
    
    /* border: 5px solid rgb(114, 10, 240);  */
    background-image: url('scholarship.jpg');
    width: 440px;
    height: 440px;
    
    background-size:cover;
    border-radius: 400px;
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative; 
    
    
    
   
}
.right::before{
    
    width: 430px;
    height: 430px;
    border:2px solid white;
    content: '';
    position: absolute;
 
    border-radius: 430px;
    padding:10px;
    
}

/**********left************/
.left{ 
    /* border: 2px solid red;  */
    /* position: absolute;
    left: 0%; */
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-right: 50px; */
}
.left p:nth-child(1){
    color: white;
    font-size: 30px;
    letter-spacing: 1px;
    font-style: italic;
    
}
.left h1{
    font-size: 100px;
    color:white;
    width: auto;
    /* background-color: blue;  */
    
   
}
.left p:nth-child(3){
    color: orange;
    font-size: 30px;
    font-style: italic;
    
}
.left button{
    /* position: relative; */
 
    bottom: 10%;
    height: 40px;
    width: 100px;
    border-radius: 50px;
    border: 0;
    outline: 0;
    background: #3c00a0;
    color: #fff;
    cursor: pointer;
     
}
a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 1365px) {
    .heading{
        flex-direction: column-reverse;
        height: 90%;
        align-items: start;
    }
    .right{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        top: 5%;
       
    } 
    .left{
        position: relative;
        bottom: 0%;
        height: 50%;
        left: 50%;
        transform: translateX(-50%);
        align-items: center;
    }
}
@media only screen and (max-width: 817px) {
    .left h1{
        font-size: 40px;
        min-width: 40px;
    }
    .right{
        height: 240px;
        width: 240px;
        top: 20%;    
    }
    .right::before{
        height: 230px;
        width: 230px;
    }
    .left{
        min-width: fit-content;
    }
}

@media only screen and (max-width: 288px) {
    .right{
        
        top: 10%;    
    }
    .left h1{
        font-size: 3    0px;
    
    }
}
@media only screen and (max-height: 671px) {

}

